<div class="container mt2">
	<div class="col-lg-12">
	  <h1>Campaigns</h1>
	  <h4>Show your team spirit with our custom products, made especially for your team! Please <a href="/contact">contact us</a> if you would like to arrange a campaign for your team or event.</h4>

	  <div class="container mt1">
		  <h2>Active Campaigns</h2>
		  <% if active_campaigns.length < 1 %>
		  	There are no active campaigns at the moment. Please <a href="/contact">contact us</a> if you would like to arrange a campaign for your team or event.
		  <% else %>
		  	<% active_campaigns.each do |campaign| %>
		  		<% logo = "img/campaigns/" + campaign['campaign_name'].delete(" ").delete("-") + "/logo.jpg" %>  	
		  		<form method='post' action='campaigns'>
						<input type="hidden" name="campaign_name" value='<%= campaign['campaign_name'] %>'>
						<input type="hidden" name="end_date" value='<%= campaign['end_date']%>'>
						<div class="col-md-3 trelement">
							<center><button type="submit">
								<div class="panel panel-default product pc">
									<div class="panel-heading">
										<h4><%=campaign['campaign_name']%></h4>
									</div>
									<div class="panel-body pty0 long-panel">
										<center><img class="img-responsive category" src=<%= logo %> alt=<%=campaign['campaign_name']%>></center>
									</div>
								</div>
							</button></center>			
						</div>		
					</form>
				<% end %>
			<% end %>
			</div>
	  <hr>

	  <div class="container mt1">
		  <h2>Future Campaigns</h2>
		  <% if future_campaigns.length < 1 %>
		  	There are no future campaigns planned at the moment. Please <a href="/contact">contact us</a> if you would like to arrange a campaign for your team or event.
		  <% else %>
		  	<p>These campaigns will be starting soon. Please <a href="/contact">contact us</a> for more information or to arrange a campaign for your team or event.</p>
		  	<% future_campaigns.each do |campaign| %>
		  		<% logo = "img/campaigns/" + campaign['campaign_name'].delete(" ").delete("-") + "/logo.jpg" %>
					<div class="col-md-3 trelement">
						<center>
							<div class="panel panel-default product pc">
								<div class="panel-heading">
									<h4><%=campaign['campaign_name']%></h4>
								</div>
								<div class="panel-body pty0 long-panel">
									<center><img class="img-responsive category" src=<%= logo %> alt=<%=campaign['campaign_name']%>></center>
								</div>
							</div>
						</center>			
					</div>	
				<% end %>
			<% end %>
		</div>
	  <hr>

	  <div class="container mt1">
		  <h2>Past Campaigns</h2>
	  	<p>These camapigns have now completed. Please <a href="/contact">contact us</a> for more information or to arrange a campaign for your team or event.</p> 
	  	<% past_campaigns.each do |campaign| %>
	  		<% logo = "img/campaigns/" + campaign['campaign_name'].delete(" ").delete("-") + "/logo.jpg" %>
				<div class="col-md-3 trelement">
					<center>
						<div class="panel panel-default product pc">
							<div class="panel-heading">
								<h4><%=campaign['campaign_name']%></h4>
							</div>
							<div class="panel-body pty0 long-panel">
								<center><img class="img-responsive category" src=<%= logo %> alt=<%=campaign['campaign_name']%>></center>
							</div>
						</div>
					</center>			
				</div>	
			<% end %>
		</div>
	  <hr>
	</div>
</div>