-<div class="container mt2">
    <div class="col-lg-12">
      <h1><%= campaign_name %></h1>
          <h4>All orders must be made by <%= end_date %>. Please <a href="/contact">contact us</a> if you have any questions or would like to arrange a spirit wear sale for your team or event.</h4>
      <p class="text-left mt1 fs120">Show your team spirit with one of
      our custom products, made especially for your team!</p>
      <hr>
    </div>
</div>

<!--Item Panels -->
<div class="container mt1">
    <% image_folder = "img/campaigns/" + campaign_name.delete(" ") + "/" %>
    <% items.each do |item| %>

        <% image = image_folder + item['item'].delete(" ").delete("-") + ".jpg"%>
        <form method='post' action='product_details'>
            <input type="hidden" name="url" value=<%= image %>>
            <div class="col-md-3 trelement">
                <center><button class="buttonstyle"type="submit">
                    <div class="panel panel-default product pc">
                        <div class="panel-heading">
                            <h4><%=item['items']%></h4>
                        </div>
                        <div class="panel-body pty0 long-panel">
                            <center><img class="img-responsive category" src=<%= image %> alt=<%= item['items'] %>></center>
                        </div>
                        <div class="panel-heading">
                            <h4>Order Now!</h4>
                        </div>
                    </div>
                </button></center>
            </div>
        </form>
    <% end %>
</div>
